@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif:
    var(--font-geist-serif), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

@layer base {
  :root {
    --background: 231 39% 93%;
    --foreground: 235 74% 9%;
    --card: 231 39% 93%;
    --card-foreground: 235 74% 9%;
    --popover: 231 39% 93%;
    --popover-foreground: 235 74% 9%;
    --primary: 234 73% 26%;
    --primary-foreground: 231 39% 93%;
    --secondary: 265 66% 68%;
    --secondary-foreground: 235 74% 9%;
    --muted: 231 39% 20%;
    --muted-foreground: 235 74% 70%;
    --accent: 36 73% 45%;
    --accent-foreground: 235 74% 9%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 235 74% 9%;
    --border: 231 39% 20%;
    --input: 231 39% 20%;
    --ring: 36 73% 40%;
    --radius: 0.625rem;
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.147 0.004 49.25);
    --sidebar-primary: oklch(0.216 0.006 56.043);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.97 0.001 106.424);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.923 0.003 48.717);
    --sidebar-ring: oklch(0.709 0.01 56.259);
  }

  .dark {
    --background: 232 41% 7%;
    --foreground: 235 74% 91%;
    --card: 232 41% 7%;
    --card-foreground: 235 74% 91%;
    --popover: 232 41% 7%;
    --popover-foreground: 235 74% 91%;
    --primary: 234 73% 74%;
    --primary-foreground: 232 41% 7%;
    --secondary: 265 66% 32%;
    --secondary-foreground: 235 74% 91%;
    --muted: 231 41% 80%;
    --muted-foreground: 235 74% 91%;
    --accent: 36 73% 55%;
    --accent-foreground: 232 41% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 235 73% 10%;
    --border: 232 41% 60%;
    --input: 231 41% 80%;
    --ring: 36 73% 60%;
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
